@use './../../_colors' as c

$components-gap-size: 1rem

.weatherWidget
  display: flex
  flex-direction: column
  gap: $components-gap-size
  width: clamp(440px, 75vw, 780px)
  padding: $components-gap-size
  border: none
  border-radius: 1.25rem
  background-color: c.$widget-bg-color
  section
    flex-basis: 50%
    padding: $components-gap-size
    background-color: c.$section-bg-color
    border-radius: inherit   

  @media screen and ( min-width: 768px )
    flex-direction: row
