@use './../../../_colors' as c
  
.currentWeather 
  text-align: center
  h2
    margin: 3rem 0 2.25rem
    font-size: 1.75rem
    font-weight: bold
  .weatherDataList
    font-size: 1.375rem

.errorMsg
  color: c.$error-color

.weatherData
  margin: 0 0.5rem